<!DOCTYPE html>
<html lang='en'>
<head>
  <title>ProjectVagabond</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'custom', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <section id="home" name="home"></section>
    <div id="headerwrap">

      <video loop="loop" preload="auto" id="header-video" class="video-playing">
        <source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
        <source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
      </video>
      <div id="header-banner" class= "col-md-6 col-md-offset-3">
        <h2>Vagabond.ly</h2>
        <p>
          <em>"helping you wander the world"</em>
        </p>
      <div class="header-button ">
          <p class="signup-btn btn btn-primary"><%= link_to "Sign Up" %></p>
          <p class="login-btn btn btn-primary"><%= link_to "Log In" %></p>
      </div>
      </div>
    </div> <!-- header section with background video  -->

    <section id="about" name="about"></section>
      <div id="aboutwrap">
        <h1>Site#about</h1>
        <p>Find me in app/views/site/about.html.erb</p>
      </div> <!-- about section  -->

    <section id="contact" name="contact"></section>
      <div id="contactwrap">

      </div> <!-- contact section  -->

</body>
</html>
