<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control'%>
  </div>
  <div class="field form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control', autocomplete: "on", id: "city_search_field" %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
<script type="text/javascript">
    var autocomplete;
    var place;
    function initialize()
    {
      var options       = {types: ['(cities)']};
      var input         = document.getElementById('city_search_field');
      autocomplete  = new google.maps.places.Autocomplete(input, options);
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        $('#city_search_field').val(autocomplete.getPlace().name);
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


