<div>
  <%= gravatar_for @user %>
</div>
<div>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>City:</strong>
  <a href="<%= city_path(@user.city_id) %>"><%= @user.city.try(:name) %></a>
</p>

<p>
  <strong>Join Date:</strong>
  <%= @user.created_at.strftime("%B %d, %Y") %>
</p>

<% if current_user != false %>
  <% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
<% end %>

<br />
<% if @user.following.length > 0 %>
  <strong>Following:</strong>
  <ul>
  <% @user.following.each do |f| %>
  <li><%= f.first_name %> <%= f.last_name %> <a href='<%=user_path(f)%>'> profile </a></li>
  <% end %>
  </ul>
<% end %>

<% if current_user != false %>
  <% if current_user != @user %>
    <%= link_to "Follow", "/users/#{@user.id}/follow", class: 'follow', method: :put, remote: true %>
  <% end %>
<% end %>
<br />

<%= render "log_posts" %>
