<div>
  <%= gravatar_for @user %>
</div>
<div>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.last_name %>
</div>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city.try(:name) %>
</p>

<p>
  <strong>Join Date:</strong>
  <%= @user.created_at.strftime("%B %d, %Y") %>
</p>

<% if current_user == @user %>
	<%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<%= link_to 'Back', users_path %>

<%= render "log_posts" %>
