<p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @log_post.title %>
  </p>

  <p class="timestamp">
    <strong>Published:</strong> <%= time_ago_in_words(@log_post.created_at) %> ago
  </p>

  <p>
    <strong>Body:</strong>
    <%= @log_post.body.html_safe %>
  </p>

  <p>
    <strong>User:</strong>
    <a href="<%= user_path(@log_post.user_id)%>"><%= @log_post.user.try(:first_name) %> <%= @log_post.user.try(:last_name) %> </a>
  </p>

  <p>
    <strong>City:</strong>
    <a href="<%= city_path(remove_spaces_city(@log_post.city.name))%>"><%= @log_post.city.try(:name) %></a>
  </p>

<% if current_user.id == @log_post.user_id %>
	<%= link_to 'Edit', edit_log_post_path(@log_post) %>
<% end %>
