<!-- Log posts partial -->

<% @log_posts.each_with_index do |post, index| %>
 	<div id="post-div">
	<div id="gravatar">
	  	<%= gravatar_for post.user %>
	</div>

	<div id="content">
		<div id="title">
	  		<%= link_to post.title.slice(0, 100), post %>
	  	</div>
	  
		<div id="time-stamp">
	  		<a href='<%= user_path(post.user_id)%>'><%= post.user.first_name %></a> posted <%= time_ago_in_words(post.updated_at) %> ago  
	  	</div>
	  
	  	<div id="body">
	  		<p><%= post.body.slice(0, 140) %></p>
	  	</div>

	  	<% if current_user.id == post.user_id %>
	  		<%= button_to "Edit", edit_log_post_path(post), method: :get %>
	  		<%= button_to "Delete", post,  method: :delete,
	      data: { confirm: "Are you sure?" } %>
	    <% end %>
	</div>
</div>

<% end %>
